# Statistically Predicting Football Results

In [1]:
# importando dados e bibliotecas
import pandas as pd
pl = pd.read_csv('Data.csv')
pl.head(3)

,Home_team_score,Home_team_name,Away_team_score,Away_team_name,attendance,referee,stadium,Season,Date
0,2,West Ham United,2,Arsenal,NaN,David Coote,"London Stadium, London",2022/23,"Sun 16 Apr 2023, 14:00 BST"
1,2,Tottenham Hotspur,3,Bournemouth,"Att: 61,369",Andy Madley,"Tottenham Hotspur Stadium, London",2022/23,"Sat 15 Apr 2023, 15:15 BST"
2,0,Southampton,2,Crystal Palace,"Att: 30,309",Michael Oliver,"St. Mary's Stadium, Southampton",2022/23,"Sat 15 Apr 2023, 15:00 BST"

In [2]:
pl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33230 entries, 0 to 33229
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Home_team_score  33230 non-null  object
 1   Home_team_name   33230 non-null  object
 2   Away_team_score  33230 non-null  object
 3   Away_team_name   33230 non-null  object
 4   attendance       9939 non-null   object
 5   referee          15284 non-null  object
 6   stadium          33230 non-null  object
 7   Season           33230 non-null  object
 8   Date             33230 non-null  object
dtypes: object(9)
memory usage: 2.3+ MB

In [3]:
pl.isna().sum()

Home_team_score        0
Home_team_name         0
Away_team_score        0
Away_team_name         0
attendance         23291
referee            17946
stadium                0
Season                 0
Date                   0
dtype: int64

In [4]:
pl = pl.query("Season=='2022/23'")
pl

,Home_team_score,Home_team_name,Away_team_score,Away_team_name,attendance,referee,stadium,Season,Date
0,2,West Ham United,2,Arsenal,NaN,David Coote,"London Stadium, London",2022/23,"Sun 16 Apr 2023, 14:00 BST"
1,2,Tottenham Hotspur,3,Bournemouth,"Att: 61,369",Andy Madley,"Tottenham Hotspur Stadium, London",2022/23,"Sat 15 Apr 2023, 15:15 BST"
2,0,Southampton,2,Crystal Palace,"Att: 30,309",Michael Oliver,"St. Mary's Stadium, Southampton",2022/23,"Sat 15 Apr 2023, 15:00 BST"
3,0,Nottingham Forest,2,Manchester United,"Att: 29,435",Simon Hooper,"The City Ground, Nottingham",2022/23,"Sun 16 Apr 2023, 16:30 BST"
4,3,Manchester City,1,Leicester City,"Att: 53,329",Darren England,"Etihad Stadium, Manchester",2022/23,"Sat 15 Apr 2023, 17:30 BST"
...,...,...,...,...,...,...,...,...,...
298,0,Crystal Palace,2,Arsenal,"Att: 25,286",Anthony Taylor,"Selhurst Park, London",2022/23,"Fri 5 Aug 2022, 20:00 BST"
299,2,Aston Villa,1,Everton,"Att: 41,883",Michael Oliver,"Villa Park, Birmingham",2022/23,"Sat 13 Aug 2022, 12:30 BST"
301,2,Leicester City,2,Brentford,"Att: 31,794",Jarred Gillett,"King Power Stadium, Leicester",2022/23,"Sun 7 Aug 2022, 14:00 BST"
306,4,Brentford,0,Manchester United,"Att: 17,051",Stuart Attwell,"Gtech Community Stadium, Brentford",2022/23,"Sat 13 Aug 2022, 17:30 BST"
308,2,Newcastle United,0,Nottingham Forest,"Att: 52,245",Simon Hooper,"St. James' Park, Newcastle",2022/23,"Sat 6 Aug 2022, 15:00 BST"

In [5]:
pl.Home_team_score.value_counts()

Home_team_score
1    97
2    72
0    70
3    35
4    20
5     4
6     3
7     1
9     1
Name: count, dtype: int64

In [6]:
pl.query("Home_team_score=='9'")

,Home_team_score,Home_team_name,Away_team_score,Away_team_name,attendance,referee,stadium,Season,Date
266,9,Liverpool,0,Bournemouth,"Att: 53,328",Stuart Attwell,"Anfield, Liverpool",2022/23,"Sat 27 Aug 2022, 15:00 BST"

In [7]:
pl.isna().sum()

Home_team_score    0
Home_team_name     0
Away_team_score    0
Away_team_name     0
attendance         6
referee            0
stadium            0
Season             0
Date               0
dtype: int64

In [8]:
pl.info()

<class 'pandas.core.frame.DataFrame'>
Index: 303 entries, 0 to 308
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Home_team_score  303 non-null    object
 1   Home_team_name   303 non-null    object
 2   Away_team_score  303 non-null    object
 3   Away_team_name   303 non-null    object
 4   attendance       297 non-null    object
 5   referee          303 non-null    object
 6   stadium          303 non-null    object
 7   Season           303 non-null    object
 8   Date             303 non-null    object
dtypes: object(9)
memory usage: 23.7+ KB

In [9]:
cols = ['Home_team_score','Away_team_score']
pl[cols] = pl[cols].astype(int)

In [10]:
Home = pl.groupby('Home_team_name').mean(numeric_only=True)
Home.columns=['Make_Home', 'Take_Home']
Home

                         Make_Home  Take_Home
Home_team_name
Arsenal                   2.800000   1.200000
Aston Villa               1.750000   1.187500
Bournemouth               1.000000   1.266667
Brentford                 2.071429   1.142857
Brighton & Hove Albion    1.785714   1.000000
Chelsea                   1.062500   0.875000
Crystal Palace            0.933333   1.266667
Everton                   0.875000   1.250000
Fulham                    1.400000   1.400000
Leeds United              1.400000   1.600000
Leicester City            1.133333   1.333333
Liverpool                 2.571429   0.785714
Manchester City           3.333333   1.000000
Manchester United         1.800000   0.533333
Newcastle United          1.642857   0.642857
Nottingham Forest         1.187500   1.250000
Southampton               0.937500   1.875000
Tottenham Hotspur         2.062500   1.250000
West Ham United           1.312500   1.312500
Wolverhampton Wanderers   0.866667   1.266667

In [11]:
Away = pl.groupby('Away_team_name').mean(numeric_only=True)
Away.columns=['Take_Away', 'Make_Away']
Away

                         Take_Away  Make_Away
Away_team_name
Arsenal                   0.812500   2.000000
Aston Villa               1.400000   1.066667
Bournemouth               2.500000   1.000000
Brentford                 1.600000   1.200000
Brighton & Hove Albion    1.533333   1.933333
Chelsea                   1.357143   0.928571
Crystal Palace            1.312500   1.062500
Everton                   1.733333   0.666667
Fulham                    1.333333   1.400000
Leeds United              2.000000   1.200000
Leicester City            2.187500   1.500000
Liverpool                 1.600000   0.933333
Manchester City           0.866667   1.866667
Manchester United         1.933333   1.266667
Newcastle United          0.937500   1.562500
Nottingham Forest         2.400000   0.333333
Southampton               1.533333   0.600000
Tottenham Hotspur         1.666667   1.600000
West Ham United           1.428571   0.571429
Wolverhampton Wanderers   1.533333   0.733333

In [12]:
tb_data = Home.merge(Away, left_index=True, right_index=True)
tb_data = tb_data.reset_index()
tb_data.rename(columns={'Home_team_name':'Team'}, inplace=True)
tb_data

                       Team  Make_Home  Take_Home  Take_Away  Make_Away
0                   Arsenal   2.800000   1.200000   0.812500   2.000000
1               Aston Villa   1.750000   1.187500   1.400000   1.066667
2               Bournemouth   1.000000   1.266667   2.500000   1.000000
3                 Brentford   2.071429   1.142857   1.600000   1.200000
4    Brighton & Hove Albion   1.785714   1.000000   1.533333   1.933333
5                   Chelsea   1.062500   0.875000   1.357143   0.928571
6            Crystal Palace   0.933333   1.266667   1.312500   1.062500
7                   Everton   0.875000   1.250000   1.733333   0.666667
8                    Fulham   1.400000   1.400000   1.333333   1.400000
9              Leeds United   1.400000   1.600000   2.000000   1.200000
10           Leicester City   1.133333   1.333333   2.187500   1.500000
11                Liverpool   2.571429   0.785714   1.600000   0.933333
12          Manchester City   3.333333   1.000000   0.866667   1.866667
13        Manchester United   1.800000   0.533333   1.933333   1.266667
14         Newcastle United   1.642857   0.642857   0.937500   1.562500
15        Nottingham Forest   1.187500   1.250000   2.400000   0.333333
16              Southampton   0.937500   1.875000   1.533333   0.600000
17        Tottenham Hotspur   2.062500   1.250000   1.666667   1.600000
18          West Ham United   1.312500   1.312500   1.428571   0.571429
19  Wolverhampton Wanderers   0.866667   1.266667   1.533333   0.733333

In [13]:
from scipy.stats import poisson

# Select the Team
home_team = 'Manchester United'
away_team = 'Manchester City'

lambda_home = tb_data.loc[tb_data['Team']== home_team,'Make_Home'].iloc[0] * tb_data.loc[tb_data['Team']== away_team,'Take_Away'].iloc[0]
lambda_away = tb_data.loc[tb_data['Team']== away_team,'Make_Away'].iloc[0] * tb_data.loc[tb_data['Team']== home_team,'Take_Home'].iloc[0]
    
pv_home = 0
pv_draw = 0
pv_away = 0

# show the home or visitor probability of winning or draw
for i in range(9):
    for j in range(9):
        p_result = poisson.pmf(i, lambda_home) * poisson.pmf(j,lambda_away)
        if i == j:
            pv_draw += p_result
        elif i > j:
            pv_home += p_result
        elif i < j:
            pv_away += p_result
print('Probability:')            
print(f'{home_team} =>| {round(pv_home,2)*100} % | {round(pv_draw,3)*100} % | {round(pv_away,2)*100} % |<= {away_team}\n')

# show the goals probability
print('Probability of goals in the match')        
for t_goals in range(9):
    p_t_goals = 0
    for i in range(t_goals + 1):
        j = t_goals - i
        if j < 9: 
            p_t_goals += poisson.pmf(i, lambda_home) * poisson.pmf(j, lambda_away)
    
    print(f'number: {t_goals} gols: {p_t_goals * 100:.2f}%')
    
# visulization result
print('\nIf the game happened, see the result:')  
display(pl.query(f"Home_team_name=='{home_team}' & Away_team_name=='{away_team}'"))

Probability:
Manchester United =>| 50.0 % | 25.4 % | 24.0 % |<= Manchester City

Probability of goals in the match
number: 0 gols: 7.76%
number: 1 gols: 19.84%
number: 2 gols: 25.36%
number: 3 gols: 21.60%
number: 4 gols: 13.80%
number: 5 gols: 7.05%
number: 6 gols: 3.00%
number: 7 gols: 1.10%
number: 8 gols: 0.35%

If the game happened, see the result:

,Home_team_score,Home_team_name,Away_team_score,Away_team_name,attendance,referee,stadium,Season,Date
107,2,Manchester United,1,Manchester City,"Att: 75,546",Stuart Attwell,"Old Trafford, Manchester",2022/23,"Sat 14 Jan 2023, 12:30 GMT"